<div class="footer-w">
	<footer class="footer __responsive __col-w">
		<div class="col">
			<div class="footer-links __left">
				<h2 class="title">Menu</h2>
				<ul class="menu">
					<li class="menu-item">
						<a class="menu-link" href="/our-offers/enterprise-edition">Enterprise Edition</a>
					</li>
					<li class="menu-item">
						<a class="menu-link" href="/our-offers/community-edition">Community Edition</a>
					</li>
					<li class="menu-item">
						<a class="menu-link" href="/features/for-business-professionals">Business Features</a>
					</li>
					<li class="menu-item">
						<a class="menu-link" href="/features/for-developers">Technical Features</a>
					</li>
					<li class="menu-item">
						<a class="menu-link" href="/contact-us">Contact us</a>
					</li>
				</ul>
			</div>
			<div class="footer-dev __right">
				<h2 class="title">Dev resources</h2>
				<ul class="menu">
					<li class="menu-item __documents">
						<a rel="nofollow" class="menu-link" target="_blank" href="http://docs.virtocommerce.com/">Documentation</a>
					</li>
					<li class="menu-item __downloads">
						<a class="menu-link" href="/try-now-download">Downloads</a>
					</li>
					<li class="menu-item __code">
						<a rel="nofollow" class="menu-link" target="_blank" href="https://virtocommerce.codeplex.com/">Code repository</a>
					</li>
					<li class="menu-item __roadmap">
						<a class="menu-link" href="/roadmap">Roadmap</a>
					</li>
				</ul>
				<ul class="menu">
					<li class="menu-item __blog">
						<a rel="nofollow" class="menu-link" target="_blank" href="http://blog.virtocommerce.com/">Blog</a>
					</li>
					<li class="menu-item __support">
						<a rel="nofollow" class="menu-link" target="_blank" href="http://help.virtocommerce.com/support/home">Support</a>
					</li>
					<li class="menu-item __stackoverflow">
						<a rel="nofollow" class="menu-link" target="_blank" href="http://stackoverflow.com/questions/tagged/virtocommerce">Stackoverflow</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="col">
			<div class="footer-social __left">
				<h2 class="title">Socials networks</h2>
				<ul class="list __inline __socials">
					<li class="list-item __tw">
						<a class="list-link" rel="nofollow" target="_blank" href="https://twitter.com/VirtoCommerce"></a>
					</li>
					<li class="list-item __fb">
						<a class="list-link" rel="nofollow" target="_blank" href="https://www.facebook.com/virtocommerce"></a>
					</li>
					<li class="list-item __gp">
						<a class="list-link" rel="nofollow" target="_blank" href="https://plus.google.com/u/0/110275588520785121043/posts "></a>
					</li>
					<li class="list-item __in">
						<a class="list-link" rel="nofollow" target="_blank" href="https://www.linkedin.com/groups/Virtocommerce-Users-Group-8116785"></a>
					</li>
					<li class="list-item __ma">
						<a class="list-link" rel="nofollow" target="_blank" href="mailto:sales@virtocommerce.com"></a>
					</li>
				</ul>
				<div class="partner __microsoft">
					<a class="link" rel="nofollow" target="_blank" href="https://mspartner.microsoft.com/en/us/pages/index.aspx">Microsoft Gold certificated Partner</a>
				</div>
				<div class="partner __azure">
					<a class="link" rel="nofollow" target="_blank" href="http://azure.microsoft.com/">Windows Azure</a>
				</div>
			</div>
			<form id="subscribe" class="footer-subscribe __right" action="/subscribe">
				<p class="title">Contact Us</p>
				<a href="mailto: sales@virtocommerce.com" class="link">sales@virtocommerce.com </a>
				<p class="phone">+1 (800) 980-5288</p>
				<div class="form">
					<div class="form-input">
						<p class="title">Singup for news</p>
						<input type="text" name="To" placeholder="Enter email ...">
						<input type="hidden" name="Subject" value="Signup for news from url">
						<input type="hidden" name="IsResend" value="true">
						<input type="hidden" name="RedirectUrl" value="/thank-you">
						<button type="submit" class="btn">Sing up</button>
					</div>
				</div>
			</form>
		</div>
	</footer>
</div>
<div class="footer-copy">
	<div class="responsive">
		<p>Copyright &copy; 2011-2015 Virto Commerce &reg;. All rights reserved</p>
		<ul class="menu __inline">
			<li class="menu-item">
				<a href="#" class="menu-link">Terms</a>
			</li>
			<li class="menu-item">
				<a href="#" class="menu-link">Privacy</a>
			</li>
		</ul>
	</div>
</div>