<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <!-- The api base uri for searching products and categoties {0} - current catalog, {1} - current language-->
  <add name="vc-commerce-api-mp" connectionString="http://localhost/admin/api/mp/{0}/{1}/" />
  <add name="vc-commerce-api-security" connectionString="http://localhost/admin/api/security/" />
</connectionStrings>
