<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <!-- The api base uri for searching products and categoties {0} - current catalog, {1} - current language-->
	<add name="VirtoCommerceBaseUrl" connectionString="http://vcappsadmin.azurewebsites.net/api/" />
	<!--<add name="VirtoCommerceBaseUrl" connectionString="http://localhost/admin/api/" />-->
</connectionStrings>
