@model Extension

@if (Model.ReleaseStatus == ReleaseStatus.Active)
{
    <script>
        $(function ()
        {
            $('#extension-license').click(function ()
            {
                if ($(this).is(':checked'))
                {
                    $('#dowload-extension').removeClass("__disabled");
                } else
                {
                    $('#dowload-extension').addClass("__disabled");
                }
            });
        });
    </script>

}

@if (Model.ReleaseStatus == ReleaseStatus.Active)
{
    <a id="dowload-extension" href="@Model.LatestRelease.DownloadLink" class="card_get-lk btn __sb __block __radial __disabled">@string.Format("Get extension ({0})", Model.Price.FormatedPrice)</a>
    <div class="card_license">
        <div class="card_license_chck del2">
            <p>
                <input type="checkbox" name="" id="extension-license">
                <label for="extension-license">I agree with license terms</label>
            </p>
        </div>
        <div class="card_license_tx del2">
            Please note that this extension is provided as is.
            It is recommended to always backup your
            installation prior to use.
        </div>
    </div>
}
else
{
    <a title="Extension is not published or you have no permission to download" class="card_get-lk btn __sb __block __radial __disabled">@string.Format("Get extension ({0})", Model.Price.FormatedPrice)</a>
}
