@model Extension[]

<div class="items fixw __cat">
    <div class="items_nav fright">
        <a class="items_a fleft" href="">sort by rating</a>
        <a class="items_a fleft" href="">sort by price</a>
    </div>
    <h2 class="items_t">@ViewBag.Title</h2>
    <div class="items_inner">
        <a class="items_i del4" href="">
            <figure class="items_i_thumb_outer">
                <img class="items_i_thumb" alt="" src="images_cnt/p.jpg">
            </figure>
            <h3 class="items_i_t">Extension name</h3>
            <article class="items_i_tx">
                Habitar Landscapes is a professional...
            </article>
            <span class="items_i_data">
                <span class="items_i_price fright">62</span>
                <span class="items_i_rating rating __2 fleft">
                    <span class="rating_progress"></span>
                </span>
            </span>
        </a>
        <a class="items_i del4" href="">
            <figure class="items_i_thumb_outer">
                <img class="items_i_thumb" alt="" src="images_cnt/unt.jpg">
            </figure>
            <h3 class="items_i_t">Extension name</h3>
            <article class="items_i_tx">
                Habitar Landscapes is a professional and small team based in Buenos...
            </article>
            <span class="items_i_data">
                <span class="items_i_price fright">13</span>
                <span class="items_i_rating rating __3 fleft">
                    <span class="rating_progress"></span>
                </span>
            </span>
        </a>
        <a class="items_i del4" href="">
            <figure class="items_i_thumb_outer">
                <img class="items_i_thumb" alt="" src="images_cnt/fox.jpg">
            </figure>
            <h3 class="items_i_t">Extension name</h3>
            <article class="items_i_tx">
                Habitar Landscapes is a professional and small team based in Buenos...
            </article>
            <span class="items_i_data">
                <span class="items_i_price fright">50</span>
                <span class="items_i_rating rating __4 fleft">
                    <span class="rating_progress"></span>
                </span>
            </span>
        </a>
        <a class="items_i del4" href="">
            <figure class="items_i_thumb_outer">
                <img class="items_i_thumb" alt="" src="images_cnt/porto.jpg">
            </figure>
            <h3 class="items_i_t">Extension name</h3>
            <article class="items_i_tx">
                Habitar Landscapes is a professional and small...
            </article>
            <span class="items_i_data">
                <span class="items_i_price fright">130</span>
                <span class="items_i_rating rating __3 fleft">
                    <span class="rating_progress"></span>
                </span>
            </span>
        </a>
        <a class="items_i del4" href="">
            <figure class="items_i_thumb_outer">
                <img class="items_i_thumb" alt="" src="images_cnt/fox.jpg">
            </figure>
            <h3 class="items_i_t">Extension name</h3>
            <article class="items_i_tx">
                Habitar Landscapes is a professional and small team based in Buenos...
            </article>
            <span class="items_i_data">
                <span class="items_i_price fright">50</span>
                <span class="items_i_rating rating __0 fleft">
                    <span class="rating_progress"></span>
                </span>
            </span>
        </a>
        <a class="items_i del4" href="">
            <figure class="items_i_thumb_outer">
                <img class="items_i_thumb" alt="" src="images_cnt/p.jpg">
            </figure>
            <h3 class="items_i_t">Extension name</h3>
            <article class="items_i_tx">
                Habitar Landscapes is a professional...
            </article>
            <span class="items_i_data">
                <span class="items_i_price fright">62</span>
                <span class="items_i_rating rating __3 fleft">
                    <span class="rating_progress"></span>
                </span>
            </span>
        </a>
        <a class="items_i del4" href="">
            <figure class="items_i_thumb_outer">
                <img class="items_i_thumb" alt="" src="images_cnt/unt.jpg">
            </figure>
            <h3 class="items_i_t">Extension name</h3>
            <article class="items_i_tx">
                Habitar Landscapes is a professional and small team based in Buenos...
            </article>
            <span class="items_i_data">
                <span class="items_i_price fright">13</span>
                <span class="items_i_rating rating __3 fleft">
                    <span class="rating_progress"></span>
                </span>
            </span>
        </a>
        <a class="items_i del4" href="">
            <figure class="items_i_thumb_outer">
                <img class="items_i_thumb" alt="" src="images_cnt/fox.jpg">
            </figure>
            <h3 class="items_i_t">Extension name</h3>
            <article class="items_i_tx">
                Habitar Landscapes is a professional and small team based in Buenos...
            </article>
            <span class="items_i_data">
                <span class="items_i_price fright">50</span>
                <span class="items_i_rating rating __1 fleft">
                    <span class="rating_progress"></span>
                </span>
            </span>
        </a>
        <a class="items_i del4" href="">
            <figure class="items_i_thumb_outer">
                <img class="items_i_thumb" alt="" src="images_cnt/porto.jpg">
            </figure>
            <h3 class="items_i_t">Extension name</h3>
            <article class="items_i_tx">
                Habitar Landscapes is a professional and small...
            </article>
            <span class="items_i_data">
                <span class="items_i_price fright">130</span>
                <span class="items_i_rating rating __5 fleft">
                    <span class="rating_progress"></span>
                </span>
            </span>
        </a>
        <a class="items_i del4" href="">
            <figure class="items_i_thumb_outer">
                <img class="items_i_thumb" alt="" src="images_cnt/unt.jpg">
            </figure>
            <h3 class="items_i_t">Extension name</h3>
            <article class="items_i_tx">
                Habitar Landscapes is a professional and small team based in Buenos...
            </article>
            <span class="items_i_data">
                <span class="items_i_price fright">13</span>
                <span class="items_i_rating rating __3 fleft">
                    <span class="rating_progress"></span>
                </span>
            </span>
        </a>
        <a class="items_i del4" href="">
            <figure class="items_i_thumb_outer">
                <img class="items_i_thumb" alt="" src="images_cnt/porto.jpg">
            </figure>
            <h3 class="items_i_t">Extension name</h3>
            <article class="items_i_tx">
                Habitar Landscapes is a professional and small...
            </article>
            <span class="items_i_data">
                <span class="items_i_price fright">130</span>
                <span class="items_i_rating rating __4 fleft">
                    <span class="rating_progress"></span>
                </span>
            </span>
        </a>
        <a class="items_i del4" href="">
            <figure class="items_i_thumb_outer">
                <img class="items_i_thumb" alt="" src="images_cnt/p.jpg">
            </figure>
            <h3 class="items_i_t">Extension name</h3>
            <article class="items_i_tx">
                Habitar Landscapes is a professional...
            </article>
            <span class="items_i_data">
                <span class="items_i_price fright">62</span>
                <span class="items_i_rating rating __2 fleft">
                    <span class="rating_progress"></span>
                </span>
            </span>
        </a>
    </div>
</div>
