<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="vc-marketplace-apikey" value="effbf4969e6d4f2a8402216b279a8784"/>
  </appSettings>
  <connectionStrings>
    <add name="vc-commerce-api-mp" connectionString="https://virtomarket.azure-api.net/api/1.0/marketplace/"/>
    <add name="vc-commerce-api" connectionString="http://localhost:2517/api/"/>
  </connectionStrings>
</configuration>