@{
    var searchClass = ViewData.ContainsKey("searchClass") ? ViewData["searchClass"] : "search-pane";
}

<script type="text/javascript">
    $(document).ready(function ()
    {
        if ($("input[id='search-@searchClass']"))
        {
            $("input[id='search-@searchClass']").autocomplete({
                minLength: 3,
                source: '@Url.Action("Find", "Search")',
                appendTo: "[id='autocomplete-@searchClass']",
                select: function (event, ui)
                {
                    document.location.href = ui.item.url;
                }
            });
        }
    });
</script>



@using (Html.BeginForm("Index", "Search", FormMethod.Get, new { @class = "form-simple " + searchClass }))
{
    <input id="search-@searchClass" name="q" type="text" placeholder="search for extentions" class="it it __radial" value="@Request.QueryString["q"]">
    <button type="submit" class="is btn __info __xs __radial">search</button>
    <div id="autocomplete-@searchClass" class="search-autocomplete">
    </div>
}