@model FullExtension

@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/v/images.js")"></script>
}
@section styles
{
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/themes/default/css/images.css")">
}

<div class="bl transparent_bl">
    <div class="card fixw">
        <div class="del2 card_slider">
            <!-- images block -->
            <div class="item">
                <figure>
                    <a rel="biggroup" href="img_cnt/expic.jpg" data-image-id="0" class="fancybox">
                        <img alt="" itemprop="image" src="images_cnt/expic.jpg">
                    </a>
                    <a rel="biggroup" href="http://cs617522.vk.me/v617522798/1159f/eqe6iOrG3wA.jpg" data-image-id="1" style="display:none" class="fancybox">
                        <img alt="" itemprop="image" src="http://cs617522.vk.me/v617522798/1159f/eqe6iOrG3wA.jpg">
                    </a>
                    <a rel="biggroup" href="http://cs618930.vk.me/v618930798/4148/v5M6BNJg8uY.jpg" data-image-id="2" style="display:none" class="fancybox">
                        <img alt="" itemprop="image" src="http://cs618930.vk.me/v618930798/4148/v5M6BNJg8uY.jpg">
                    </a>
                </figure>
            </div>
            <!-- Листалка -->
            <div class="list-items">
                <a class="prev"></a>
                <div class="scroll">
                    <ul class="clearfix">
                        <li onclick="$('.list-items .prev').click();" data-bigimage-id="2">
                            <a>
                                <img alt="" itemprop="image" src="http://cs618930.vk.me/v618930798/4148/v5M6BNJg8uY.jpg">
                            </a>
                        </li>
                        <li class="selected" data-bigimage-id="0">
                            <a>
                                <img alt="" itemprop="image" src="images_cnt/expicxs.jpg">
                            </a>
                        </li>
                        <li data-bigimage-id="1">
                            <a>
                                <img alt="" itemprop="image" src="http://cs617522.vk.me/v617522798/1159f/eqe6iOrG3wA.jpg">
                            </a>
                        </li>
                    </ul>
                </div>
                <a class="next"></a>
            </div>
            <!-- / images block -->
        </div>
        <div class="del2 card_detail">
            <div class="card_detail_inner">
                <div class="del2 card_data">
                    <h2 class="card_t">Paypal Exchanger</h2>
                    <div class="card_rating_outer">
                        <div class="card_rating rating __4">
                            <div class="rating_progress"></div>
                        </div>
                        <div class="card_rating_num">4.5/5</div>
                    </div>
                    <a href="#" class="items_a">read all 5 reviews</a>
                    <a href="#" class="items_a">write a review</a>
                    <article class="card_descr">
                        In Virto Commerce every product has a fixed
                        attribute set that cannot be changed
                        after the product's creation. This is in
                        many productive contexts not an
                        acceptable limitation.

                    </article>
                    <div class="card_properties">
                        <div class="card_properties_i">
                            <span class="card_properties_i_name">Locale</span>
                            <span class="card_properties_i_value">English, Spanish</span>
                        </div>
                        <div class="card_properties_i">
                            <span class="card_properties_i_name">compatible with</span>
                            <span class="card_properties_i_value">123.00.14, 5678.991.01</span>
                        </div>
                        <div class="card_properties_i">
                            <span class="card_properties_i_name">last release</span>
                            <span class="card_properties_i_value">12.0 from 11/03/14</span>
                        </div>
                    </div>
                </div>
                <div class="del2 card_links">
                    <figure class="card_thumb_outer"><img src="images_cnt/fox.jpg" class="card_thumb" alt=""></figure>
                    <ul class="card_lk_lst">
                        <li class="card_lk_i"><a href="" class="card_lk">Developer’s profile</a></li>
                        <li class="card_lk_i"><a href="" class="card_lk">Contact the developer</a></li>
                        <li class="card_lk_i"><a href="" class="card_lk">More extensions by Developer</a></li>
                    </ul>
                </div>
            </div>
            <a href="#" class="card_get-lk btn __sb __block __radial">GET EXTENSION  (&nbsp;$&nbsp;546&nbsp;)</a>
            <div class="card_license">
                <div class="card_license_chck del2">
                    <p><input type="checkbox" name="" id="license"><label for="license">I agree with license terms</label></p>
                </div>
                <div class="card_license_tx del2">
                    Please note that this extension is provided as is.
                    It is recommended to always backup your
                    installation prior to use.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="transparent_bl bl">
    <div class="tabs fixw">
        <ul class="tabs_lst">
            <li class="tabs_i"><a href="#" class="tabs_i_a">Overview</a></li>
            <li class="tabs_i"><a href="#" class="tabs_i_a">release notes</a></li>
            <li class="tabs_i"><a href="#" class="tabs_i_a __active">reviews</a></li>
        </ul>
    </div>
</div>
<div class="neutral-lay bl">
    <div class="slides fixw">
        <div class="reviews">
            <div class="reviews_rating del2">
                <div class="card_rating_outer fright">
                    <div class="card_rating rating __4">
                        <div class="rating_progress"></div>
                    </div>
                    <div class="card_rating_num">4.5/5</div>
                </div>
                <h4 class="reviews_rating_t">Overall rating</h4>
                <div class="reviews_rating_tx">10 out of 12 (86%) reviewers recommend this extension</div>
                <a href="#" class="btn __block __radial __info reviews_add">write a review</a>
            </div>
            <div class="developer-info del2">
                <h4 class="developer-info_t">About the Developer</h4>
                <div class="developer-info_tx">
                    This extension was developed by<br />and is supported by i95Dev
                </div>
                <ul class="card_lk_lst">
                    <li class="card_lk_i"><a href="#" class="card_lk">support for this extension</a></li>
                    <li class="card_lk_i"><a href="#" class="card_lk">feedback to developer</a></li>
                    <li class="card_lk_i"><a href="#" class="card_lk">Developer’s profile</a></li>
                    <li class="card_lk_i"><a href="#" class="card_lk">More extensions<br />by Developer</a></li>
                </ul>
            </div>
            <div class="reviews_lst">
                <div class="reviews_i">
                    <div class="reviews_i_info">
                        <figure class="reviews_i_ava_outer fleft"><img src="images_cnt/ava.png" alt="" class="reviews_i_ava"></figure>
                        <div class="reviews_i_data">
                            <span class="rating_i_date fright">2014 / 10 / 15 -  12 : 45 : 57</span>
                            <div class="reviews_i_rating rating __3">
                                <div class="rating_progress"></div>
                            </div>
                            <div class="reviews_i_author">
                                <a href="#" class="reviews_i_author_name">vinod_kumar505</a>
                                <span class="reviews_i_author_about">I'm a deployment & integrations provider, I useEnterprise</span>
                            </div>
                        </div>
                    </div>
                    <div class="reviews_i_tx">
                        In Virto Commerce every product has a fixed attribute set that cannot be changed after the product's creation. This is in many productive contexts not an acceptable limitation. This module overrides the standard behaviour and makes it possible to change attribute sets after the item's creation making Virto Commerce even more flexible. :).
                    </div>
                </div>
                <div class="reviews_i">
                    <div class="reviews_i_info">
                        <figure class="reviews_i_ava_outer fleft"><img src="images_cnt/ava_1.png" alt="" class="reviews_i_ava"></figure>
                        <div class="reviews_i_data">
                            <span class="rating_i_date fright">2014 / 10 / 15 -  12 : 45 : 57</span>
                            <div class="reviews_i_rating rating __3">
                                <div class="rating_progress"></div>
                            </div>
                            <div class="reviews_i_author">
                                <a href="#" class="reviews_i_author_name">vinod_kumar505</a>
                                <span class="reviews_i_author_about">I'm a deployment & integrations provider, I useEnterprise</span>
                            </div>
                        </div>
                    </div>
                    <div class="reviews_i_tx">
                        In Virto Commerce every product has a fixed attribute set that cannot be changed after the product's creation. This is in many productive contexts not an acceptable limitation. This module overrides the standard behaviour and makes it possible to change attribute sets after the item's creation making Virto Commerce even more flexible. :).
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>