@{
    ViewBag.Title = "Home Page";
}

<div class="features_outer bl">
    <div class="features_bl features_bl __left"></div>
    <div class="features_bl features_bl __right"></div>
    <div class="features_bl features_bl __all"></div>
    <div class="features fixw">
        <a href="#" class="features_i del2"><i class="features_i_ico ico_lw ico_lw_pile"></i><span class="features_i_t">Feature number one</span></a>
        <a href="#" class="features_i del2"><i class="features_i_ico ico_lw ico_lw_ms"></i><span class="features_i_t">Second feature</span></a>
    </div>
</div>
<div class="items_outer bl">
    <div class="items fixw">
        <a href="" class="items_a fright">View all</a>
        <h2 class="items_t">New Extensions</h2>
        @{Html.RenderAction("ShowDynamicContent", "Banner", new { placeName = "HomeNewProducts" });}
    </div>
</div>
<div class="neutral-lay bl">
    <div class="offer">
        <figure><i class="offer_ico ico_lw ico_lw_monitor"></i></figure>
        <article class="offer_tx">
            Kopf und Kragen are the german words for "head and collar".<br />
            Kopf und Kragen sells high quality urban fashion materials with s on caps.<br />
            With a store based in the heart of Hamburg  upcoming online shop KK Hamburg.
        </article>
        <a href="#" class="btn __sb __xl __radial">Become a developer</a>
    </div>
</div>